@using BlogSite.Data 
@model ViewBlogViewModel
<div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">@Model.Post.Title</h1>

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">Shana Basch</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted @Model.Post.Date</p>

    <hr>@Model.Post.PostText<hr>
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method="post" action="/home/addcomment">
                <input type="hidden" value="@Model.Post.Id" name="postId" />
                <div class="form-group">
                    <input id="name" type="text" placeholder="Please enter your name" class="form-control" name="name" value="@Model.LastCommenterName" />
                </div>
                <div class="form-group">
                    <textarea placeholder="Type your comment here but remember to be be nice..." id="content" name="content" class="form-control" rows="3"></textarea>
                </div>
                <button id="submit" disabled class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    @foreach(Comment comment in Model.Comments)
            {
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <h5 class="mt-0">
            @comment.Commenter
            <small>@comment.Date.ToLongDateString()</small>
        </h5>
        @comment.CommentText
    </div>
</div>
    }

</div>
    @section Scripts{ 
        <script src="~/js/JavaScript.js"></script>
    }
